#flyzoo-tab-counter {
color: white!important;
}

#flyzoo-bubble-label-counter {
color: rgb(63, 139, 190)!important;
}

.screen-reader-text {
         display: none;
   }

.container {
        padding: 0.5rem 2rem;
    }

    .stuck .header-inner {
        padding-top: 0.5rem;
    }

    .header:not(.transparent) .header-nav-main.nav>li>a {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .header:not(.transparent) .header-nav-main.nav>li>a:hover {
        font-family: "Lato", sans-serif;
        font-style: normal;
    }

    .nav>li {
        margin: 0 2rem 0 0;
    }

    .nav>li:hover {
        border-bottom: 1px solid #FFFFFF;
    }

    .header__phone-number:hover {
        color: #FFFFFF;
    }

    .nav>li:nth-of-type(8) {
        margin-right: 4rem;
    }

    .nav-left {
        justify-content: center;
    }

    .header-main .header-button>.button:not(.is-outline) {
        background-color: #F96A46 !important;
        font-weight: 200;
        font-size: 1.1rem;
        width: 17rem;
    }

    .header-main .header-button>.button:not(.is-outline):hover {
        background-color: #DE461F;
        border-color: #DE461F !important;
    }

    .header-nav-main.nav-line-bottom > li > a:before {
        background-color: #007EAB;
    }

    

    .page-wrapper {
        padding: 0;
    }

    .container,
    .container-width,
    .full-width .ubermenu-nav,
    .row {
        max-width: 100%;
    }

    .col {
        padding: 0;
    }

    .header__phone-number {
        color: #FFFFFF;
    }

    .conference {

    }

    .conferenceBlock {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 3.5rem 0 5.9rem 0;
    }

    .conferenceBlock-left {
        display: flex;
        flex-direction: column;
    }

    .conferenceBlock-left_list {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .conferenceBlock-left__img {
        max-width: 10rem;
    }

    .conferenceBlock-left_list-title {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 2.8rem;
        color: #FFFFFF;
        margin: 0 0 0 1.4rem;
    }

    .conferenceBlock-left__title {
        margin: 0 0 0.5rem 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        color: #FF8630;
    }

    .conferenceBlock-left__subtitle {
        margin: 0 0 1.5rem 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        color: #FFFFFF;
    }

    .conferenceBlock-left__subtitle-data {
        margin: 0 0 2rem 0;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        color: #00E7E1;
    }

    .conferenceBlock-left__link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.1rem;
        background-color: #F96A46;
        width: 18.5rem;
        border-radius: 99px;
        padding: 0.5rem 2rem;
        transition: transform 0.7s ease, background-color 0.7s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
    }

    .conferenceBlock-left__link:hover {
        background-color: #DE461F;
        color: #FFFFFF;
    }

    .conferenceBlock-right {
        display: flex;
        margin-left: 4.6rem;
        flex-direction: column;
        align-items: center;
    }

    .conferenceBlock-right__divider {
        margin: 0 0.8rem 0 0.8rem;
        display: flex;
        align-items: flex-start;
    }

    .conferenceBlock-right__divider-item {
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 4rem;
        margin: 0;
    }

    .conferenceBlock-right__one {
        display: flex;
    }

    .conferenceBlock-right__two {
        margin-top: 2rem;
    }

    .conferenceBlock-right__link {
        color: #007EAB;
        background-color: #FFFFFF;
    }

    .conferenceBlock-right__link:hover {
        color: #007EAB;
        background-color: #00E7E1;
    }

    .conferenceBlock-right__seconds_general {
        width: 6rem;
        height: 10.5rem;
        background-color: #FFFFFF;
        margin: 0 0 0 0;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 4rem;
        color: #007EAB;
    }

    .conferenceBlock-right__seconds_general-k {
        font-size: 1.5rem;
        margin: 0;
    }

    .conferenceBlock-right__seconds_general:nth-of-type(4) {}

    .conferenceBlock-right__days {
        margin: 0;
    }

    .conferenceBlock-right__hours {
        margin: 0;
    }

    .conferenceBlock-right__minutes {
        margin: 0;
    }

    .conferenceBlock-right__seconds {
        margin: 0;
    }

    .info {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5rem 0 8rem 0;
    }

    .info____container {
        display: flex;
    }

    .info__item-one {
        background-color: #007EAB;
        display: flex;
        flex-direction: column;
        padding: 8rem 3rem 9.6rem;
    }

    .info__item-one-title {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        color: #FFFFFF;
    }

    .info__item-one-subtitle {
        margin: 0.5rem 0 0 0;
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .info__item-one-subtitle_k {
        margin-top: 2rem;
    }

    .info__item-two {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .info__item-two-items {
        display: flex;
        height: 8.5rem;
        align-items: center;
        justify-content: center;
        width: 20rem;
    }

    .info__item-two-items:nth-of-type(3) {
        margin: 0;
    }

    .info__item-two-items-img {
        width: 2rem;
        height: 2rem;
        margin: 0 2rem 0 0;
    }

    .info__item-two-items-text {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        color: #000000;
        font-size: 1rem;
    }

    .info__item-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info__item-three-items {
        display: flex;
        height: 8.5rem;
        align-items: center;
        width: 22rem;
    }

    .info__item-three-items_k {
        display: flex;
    }

    .info__item-three-items-img {
        width: 2rem;
        height: 2rem;
        margin: 0 2rem 0 3rem;
    }

    .info__item-three-items-img_k {
        margin: 0 1rem 0 2rem;
        width: 4rem;
        height: 4rem;
    }

    .info__item-three-items-text {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        color: #000000;
        font-size: 1rem;
    }

    .info__item-three-items-link {
        display: flex;
        text-decoration: none;
    }

    .info__item-three-items_k {
        background-color: #FFE7D6;
    }

    .info__item-three-items-text_k {
        color: #007EAB;
    }

    .info__item-three-items-text_h {
        font-weight: bold;
    }

    .programs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10rem;
    }

    .programs__title {
        text-align: center;
        margin: 0 0 3rem 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        color: #007EAB;
    }

    .programs__items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .programs__items-top {
        display: flex;
        justify-content: space-around;
        background-color: #007EAB;
        height: 4rem;
        align-items: center;
    }

    .programs__items-top-left {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #FFFFFF;
        width: 22rem;
        margin: 0;
        text-align: center;
    }

    .programs__items-top-right {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .programs__items-programs-time {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
    }

    .programs__items-programs-name {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #007EAB;
    }

    .programs__items-programs-speaker {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #F96A46;
    }

    .programs__items-bottom {
        display: flex;
        justify-content: flex-start;
        background-color: #FFFFFF;
        height: 4rem;
        align-items: center;
    }

    .programs__items-bottom-left {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #F96A46;
        width: 22rem;
        margin: 0;
        text-align: center;
    }

    .programs__items-bottom-right {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #007EAB;
    }

    .programs__items-bottom_k {
        display: flex;
        justify-content: flex-start;
        background-color: #FFF3EB;
        height: 4rem;
        align-items: center;
    }

    .programs__items-bottom-link {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .programs__items-bottom_g {
        height: 5rem;
    }

    .col-inner ul li.tab:hover {
               border-bottom: none;
        }

    .section__speakers-items {
        background-color: #EAF9FF;
    }

    .speakers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #EAF9FF;
    }

    .speakers__title {
        margin: 4rem 0 2rem 0;
        color: #007EAB;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
    }

    .speakers__cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.2rem;
        margin-bottom: 4rem;
    }

    .card__item {
        display: flex;
        flex-direction: row;
        width: 40%;
        background-color: #FFFFFF;
        align-items: flex-start;
    }

    .card__item-img {}

    .card__item-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 50%;
        margin-top: 0.5rem;
    }

    .item-list__title {
        color: #007EAB;
        margin-bottom: 0.5rem;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
    }

    .item-list__subtitle {
        color: #000000;
        margin-bottom: 1rem;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1rem;
        width: 96%;
    }

    .item-list__subtitle:last-of-type {
        margin-bottom: 0;
    }

    .section__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
        background-color: #FFFFFF;
        margin: 0;
        flex-direction: column;
    }

    .section__slider-title {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        color: #007EAB;
        text-align: center;
        margin: 8rem 0 3rem 0;
    }

    .section__slider-items {
        position: relative;
        width: 90%;
        max-width: 75rem;
        overflow: hidden;
        margin-bottom: 1rem;
        padding: 0 1rem;
        height: 42%;
    }

    .slider-items__slider-wrapper {
        display: flex;
        gap: 1.2rem;
        transition: transform 0.5s ease;
    }

    .slider-wrapper__slide {
        flex: 0 0 calc(33.33% - 1.2rem);
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 10px;
        transform: scale(0.8);
        opacity: 0.6;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        height: 1%;
    }

    .slider-wrapper__slide.active {
        transform: scale(1.2);
        opacity: 1;
        margin-top: 2rem;
    }

    .slider-wrapper__slide.prev-slide,
    .slider-wrapper__slide.next-slide {
        transform: scale(0.8) translateY(20px);
    }

    .slider-wrapper__slide-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .slider-wrapper__slide-link br {
        display: none;
    }

    .slider-wrapper__slide-link-img {
        width: 100%;
    }

    .slider-wrapper__slide-link-text {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
        color: #007EAB;
        padding: 1rem 0;
    }

    .slider-items__arrows {
        position: absolute;
        top: 28%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-28%);
        pointer-events: none;
    }

    .slider-items__arrows-arrow {
        position: absolute;
        cursor: pointer;
        pointer-events: all;
        font-size: 1.5rem;
        color: #FFFFFF;
        background-color: #007EAB;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-items__arrows-arrow.prev {
        left: -1rem;
    }

    .slider-items__arrows-arrow.next {
        right: 2rem;
    }

    .section__slider-dots {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 8rem;
    }

    .slider-dots__dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .slider-dots__dot.active {
        background-color: #007EAB;
    }

    .section__info-nmo-items {
        background-color: #FFF3EB;
    }

    .info__nmo {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #FFF3EB;
    }

    .info__nmo-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 0;
    }

    .info__nmo-items-title {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        color: #007EAB;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .info__nmo-items-subtitle {
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1rem;
        color: #007EAB;
        margin-bottom: 2rem;
    }

    .info__nmo-items-subtitle_k {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }

    .sponsors {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .sponsors__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sponsors__items-title {
        margin: 8rem 0 2rem 0;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        color: #007EAB;
    }

    .sponsors__items-imgs {
        display: flex;
        margin: 0 0 8rem 0;
    }

    .sponsors__items-imgs-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1.2rem 0 0;
        text-decoration: none;
    }

    .sponsors__items-imgs-item-sklif {
        max-width: 15rem;
    }

    .sponsors__items-imgs-item:nth-of-type(5) {
        margin: 0;
    }

    .sponsors__items-imgs-item-i {
        display: flex;
        width: 15rem;
        height: 8.2rem;
        align-items: center;
        justify-content: center;
        background-color: #EAF9FF;
        margin: 0 0 1rem 0;
        border-radius: 1rem;
    }

    .sponsors__items-imgs-item-img {}

    .sponsors__items-imgs-item-img_sklif {
        width: 70%;
    }

    .sponsors__items-imgs-item-text {
        margin: 0;
        color: #007EAB;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1rem;
        text-align: center;
    }

    .sponsors__items-title_k {
        margin-top: 0;
    }

    .sponsors__items-imgs-item_k {
        max-width: 15rem;
    }

    .sponsors__items-imgs-item-img_k{
        max-width: 54%;
    }

    .footer-nmo {}

    .footer-nmo__text {
        margin: 0;
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1rem;
        padding: 1.4rem 0;
    }

    .button.icon {
        margin-right: 2.9rem;
        margin-bottom: 7rem;
        background-color: #007EAB;
        border: none;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }

    .nav-tabs>li.active>a {
        border-top-color: var(--fs-color-primary);
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1rem;
        background-color: #007EAB;
        border-radius: 1rem 1rem 0 0;
        width: 18.5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
    }

    .tabbed-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .tabbed-content .nav,
    .tabbed-content .tab-panels {
        justify-content: flex-start;
        width: 68rem;
    }

    .nav-tabs+.tab-panels {
        padding: 0;
    }

    .tabbed-content .nav-tabs>li {
        margin-right: 1.2rem;
    }

    .tabbed-content .nav,
    .tabbed-content .tab-panels {
        justify-content: flex-start;
    }

    #section_2028901498 {
        padding: 0;
    }

    #section_692520312 {
        padding: 0;
    }

    .row .row:not(.row-collapse) {
        width: 100%;
        margin: 0;
    }

    .nav-tabs>li>a {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: normal;
        color: #007EAB;
        font-size: 1rem;
        background-color: #EAF9FF;
        border-radius: 1rem 1rem 0 0;
        width: 18.5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
    }

    .nav-tabs+.tab-panels {
        border: none;
    }

    .col-inner ul li.tab {
        margin: 0;
        margin-right: 1.2rem;
    }


    @media (max-width: 2650px) {
        .card__item {
            width: 33%;
        }

        .section__slider {
            height: 49rem;
        }
    }

    @media (max-width: 1440px) {
        .card__item {
            width: 42%;
        }

        .section__slider {
            height: 85vh;
        }
    }


    @media (max-width: 1280px) {
        .header-main .header-button>.button:not(.is-outline) {
            width: auto;
        }

        .card__item {
            width: 44%;
        }

        .section__slider {
            height: 93vh;
        }
    }

    @media (max-width: 1024px) {
        .container {
            padding: 0.5rem 0.5rem;
        }

        .nav>li {
            margin: 0 auto 0 0;
        }

        .nav>li:nth-of-type(6) {
            margin-right: auto;
        }

        .header-main .header-button>.button:not(.is-outline) {
            width: auto;
            font-size: inherit;
            margin-right: 0.5rem;
        }

        .tabbed-content .nav {
            width: 100%;
        }

        .tabbed-content .tab-panels {
            width: 100%;
        }

        .item-list__title {
            font-size: 0.8rem;
            margin: 0 0 0.3rem 0.8rem !important;
        }

        .item-list__subtitle {
            font-size: 0.6rem;
            margin: 0 0 0.3rem 0.8rem !important;
        }

        .conferenceBlock-left_list-title {
            font-size: 1.8rem;
            margin: 0 0 0 1rem;
        }

        .conferenceBlock-left__title {
            font-size: 1.5rem;
        }

        .conferenceBlock-left__subtitle {
            font-size: 1.5rem;
        }

        .conferenceBlock-right {
            margin-left: 1rem;
        }

        .card__item {
            width: 48%;
        }

        .card__item-img {
            width: 40%;
        }

        .section__slider {
            height: 115vh;
        }

        .sponsors__items-imgs {
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
        }
    }



















.col-inner ol li,
.col-inner ul li,
.entry-content ol li,
.entry-content ul li,
.entry-summary ol li,
.entry-summary ul li {
  margin-left: 0 !important;
}

td, th {
    border-bottom: 0 !important;
}

@media screen and (max-width: 500px) {
.nav-tabs>li>a {
    width: 150px !important;
}
	.entry-content {
    border-radius: 0 !important;
}
}

.tab-panels .panel:not(.active) {
    display: none;
}
.section {
  padding: 0 !important;
}


.button,
button,
fieldset,
input,
select,
textarea {
  margin: 0 0;
  padding: 0;
  line-height: normal;
}

.section__slider {
  height: auto !important;
  margin: 50px 0 0 0 !important;
}

.section__slider-dots {
  margin: 20px 0 0 0 !important;

}

.section__slider-items {
  margin-bottom: 0 !important;
  padding: 0 1rem 2rem 1rem;
}

    @media (max-width: 850px) {
        .section__slider {
            height: 25rem !important;
        }
          .section__slider-items {
            height: 21rem !important;
                width: 70rem !important;
        }
    }

    @media (max-width: 480px) {
        .section__slider {
            height: 17rem !important;
        }
          .section__slider-items {
            height: 20rem !important;
                width: 40rem !important;
        }
    }

.tabbed-content .nav,
.tabbed-content .tab-panels {
  max-width: 1200px;
  width: 100% !important;
}

.tabbed-content {
  margin: 45px 0 40px 0;
}

.entry-content {
  border: 1px solid #007eab;
  border-radius: 0 12px 12px 12px;
}

@media screen and (max-width: 1350px) {
  .tabbed-content {
    max-width: none;
    width: auto;
    margin: 45px 0px 40px 0px;
    align-items: flex-start !important;
  }

  .nav-tabs+.tab-panels {
    padding: 0 50px !important;
  }

  .tabbed-content .nav,
  .tabbed-content .tab-panels {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .tabbed-content {
    max-width: none;
    width: auto;
    margin: 45px 0px 40px 0px;
  }

  .tabbed-content .nav,
  .tabbed-content .tab-panels {

    padding: 0 30px !important;
  }
}








/* ОБЩИЕ */
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif
}

p {
  padding: 0;
  margin: 0;
}

.seminar {
  display: none;
}

.pointer {
  cursor: pointer;
}

.video-player {
  border-radius: 12px;
}

.project__container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.project__show {
  position: absolute;
  bottom: -2px;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(255 255 255));
  border: 0;
  cursor: pointer;
}

.project__show-img {
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 44%;
}

.project__hide {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.project__hide-img {
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 44%;
}

.project__hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.project__visible {
  transition: max-height 1s ease-in;
}

@media screen and (max-width: 770px) {

  .project__show-img,
  .project__hide-img {
    left: 39%;
  }
}

@media screen and (max-width: 500px) {
  .project__container {
    zoom: 0.8;
  }
}

/* /ОБЩИЕ */


.section {
  padding: 0 !important;
}


.button,
button,
fieldset,
input,
select,
textarea {
  margin: 0 0;
  padding: 0;
}








/* КНОПКА1 */
.project__btn {
  border-radius: 30px;
  padding: 14px 53px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-decoration: none !important;
  background-color: transparent;
  border: 2px solid #fff !important;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.project__btn::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transition:
    width 0.35s ease,
    height 0.15s ease,
    left 0.35s ease,
    top 0.15s ease,
    transform 0.5s ease;
  border-radius: 30px;
  z-index: -1;
}

.project__btn:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.project__btn:hover {
  color: #000;
}

@media screen and (max-width: 1050px) {
  .project__btn {
    padding: 8px 27px;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 0;
  }
}

@media screen and (max-width: 800px) {
  .project__btn {
    padding: 15px 27px;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 0px 30px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .project__btn {
    font-size: 16px;
    line-height: 20px;
  }
}

/* /КНОПКА1 */








/* КНОПКА2 */
.project__btn2 {
  border-radius: 50px;
  font-size: 22px;
  line-height: 28px;
  color: #000;
  text-decoration: none !important;
  background-color: #FF8630;
  border: 3px solid #FF8630;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  margin: 20px 0 0 0px;  
  font-weight: 700;
}

.project__btn2::before {
  content: '';
  position: absolute;
  background-color: #fabb8f;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transition:
    width 0.35s ease,
    height 0.15s ease,
    left 0.35s ease,
    top 0.15s ease,
    transform 0.5s ease;
  border-radius: inherit;
}

.project__btn2:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.project__btn2:hover {
  color: #000;
}

.project__btn2-span {
  z-index: 5;
  position: relative;
}


@media screen and (max-width: 1000px) {
  .project__btn2 {
    width: 100%;
    margin: 20px 0 0 0px;
  }
}


@media screen and (max-width: 400px) {
  .project__btn2 {
 font-size: 18px;
    line-height: 20px;
  }
}
/* /КНОПКА2 */












/* ТОР С ПЛИТКОЙ */
.project__top-container {
  width: 100%;
  margin: 0 0 60px 0;
  background: url(https://proctosphera.ru/wp-content/uploads/2025/05/top.jpg);
  font-size: 16px;
  line-height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: background-position;
  background-color: #007eab;
}


.project__top-container2 {
  background: linear-gradient(-45deg, #004963ba, #6b2e1fb5, #00435bba, #6b2e1eb5);
  background-size: 400% 400%;
  animation: gradient 15s steps(30) infinite;
  will-change: background-position;
  z-index: 10;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.project__top {
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.project__top-left {
  flex-grow: 1;
  margin: auto 20px auto 0;
  align-items: center;
  height: 100%;
  width: 68%;
  position: relative;
}

.project__top-right {
  margin: auto 40px;
  width: 32%;
}

.project__top-header {
  font-size: 65px !important;
  line-height: 65px !important;
  font-weight: 700 !important;
  width: 100%;
  margin: 27px 0 36px 0 !important;
  color: #fff !important;
}

.project__top-header-op {
  opacity: 0.8;
}

.project__top-header3 {
  font-size: 28px !important;
  line-height: 36px !important;
  font-weight: 400 !important;
  margin: -20px 0 5px 0 !important;
  color: #fff !important;
  width: 100%;
  opacity: 0.8;
}

.project__top-header3-bold {
  font-size: 28px !important;
  line-height: 36px !important;
  font-weight: 700 !important;
  margin: 10px 0 38px 0 !important;
  color: #fff !important;
  width: 100%;
  opacity: 1;
}

.project__top-line {
  border-bottom: 2px solid #fff;
  width: 100%;
  margin-bottom: 35px;
}

.project__top-link {
  color: #fff !important;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.project__top-text {
  width: 90%;
  color: #fff !important;
  font-size: 18px;
  line-height: 28px;
  padding: 0 0 15px 0;
}

.project__top-img {
  padding: 15px;
  width: 336px;
}

.project__top-img-dop {
  position: absolute;
  bottom: -143px;
  left: -309px;
  width: 328px;
}

.project__top-sponsor {
  background-color: #FF8630;
  padding: 5px 50px;
  overflow: hidden;
  width: 42%;
  min-width: 325px;
  margin: 0 0 0 auto;
  margin: 0 0 28px 0;
  border-radius: 34px 0 34px 0;
}

.project__top-sponsor-logo {
  width: 180px;
}

.project__top-sponsor-text {
  color: #000000 !important;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding: 0;
      text-align: center;
}


@media screen and (max-width: 1850px) {
  .project__top-img-dop {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .project__top {
    max-width: none;
  }

  .project__top-header,
  .project__top-header3,
  .project__top-text,
  .project__top-sponsor-text {
    width: 95%;
  }

  .project__top {
    padding: 50px;
  }

  .project__top-right {
    margin: auto 10px;
  }
}

@media screen and (max-width: 1100px) {
  .project__top-container2 {
    background: linear-gradient(-45deg, #004963ba, #6b2e1fb5, #00435bba, #6b2e1eb5);
    background-size: 100%;
    animation: none;
    will-change: unset;
  }

  .project__top-header {
    font-size: 55px !important;
    line-height: 55px !important;
  }

  .project__top-container {
    animation: none;
    will-change: unset;
  }

  .project__top {
    padding: 30px 30px;
  }

  .project__top-img {
    width: 300px;
  }

  .project__top-header3 {
    font-size: 28px !important;
    line-height: 35px !important;
  }

  .project__top-line {
    margin-bottom: 22px;
  }

  .project__top-text {
    font-size: 16px;
    line-height: 22px;
  }

  .project__top-sponsor-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 770px) {
  .project__top-container {
    margin: 0 0 20px 0;
  }

  .project__top {
    flex-direction: column;
  }

  .project__top-header {
    font-size: 45px !important;
    line-height: 45px !important;
  }

  .project__top-img {
    margin-bottom: -140px;
    border: 3px solid #fff;
    border-radius: 12px;
    padding: 15px;
    background-color: #ffffff24;
  }

  .project__top-left {
    margin-right: 0px;
    text-align: center;
    width: 100%;
  }

  .project__top-right {
    display: none;
  }

  .project__top-right {
    text-align: center;
  }

  .project__top-header,
  .project__top-header3,
  .project__top-text,
  .project__top-sponsor-text {
    width: 100%;
  }

  .project__top-text {
    font-size: 18px;
    line-height: 24px;
  }

  .project__top-sponsor-text {
    font-size: 18px;
    line-height: 24px;
  }

  .project__top {
    padding: 40px 30px 10px 30px;
  }
}

@media screen and (max-width: 500px) {
  .project__top-header {
    font-size: 32px !important;
    line-height: 36px !important;
  }


  .project__top-header3,
  .project__top-header3-bold {
    font-size: 22px !important;
    line-height: 28px !important;
  }

  .project__top-sponsor {
    padding: 5px 30px;
    width: auto;
    min-width: 125px;
  }


}

@media screen and (max-width: 400px) {
  .project__top-sponsor {
    flex-wrap: wrap;
    width: auto;
  }
}

.project__top-grid {
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.project__top-grid-block {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px 20px 20px 20px;
  border-radius: 12px;
}

.project__top-grid-block1 {
  grid-row: span 2 / span 2;
  background-color: #98ccde6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__top-grid-block1 p {
  padding: 10px 0;
}

.project__top-grid-block1-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.project__top-grid-block7-link {
  text-decoration: none !important;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 0.2s ease;
  border-radius: 12px;
}

.project__top-grid-block7:hover {
  background-color: #ffcfb163;
  transition: all 0.2s ease;
}

.project__top-grid-block7-link-b {
  font-weight: 700;
  color: #fff !important;
  text-decoration: none !important;
  border-bottom: 1px solid #fff;
}

.project__top-grid-block5 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.project__top-grid-block6 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.project__top-grid-block7 {
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: #ffd9be85;
}

.project__top-grid-block-img {
  display: block;
  width: 70px;
  height: 80px;
  opacity: 0.8;
  padding: 10px 10px 10px 0;
}


.project__top-grid-block-img7 {
  display: block;
  width: 70px;
  height: 80px;
  opacity: 0.8;
  padding: 10px 10px 10px 0;
}

@media screen and (max-width: 1300px) {
  .project__top-grid {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .project__top-grid {
    margin: 0 30px;
  }

  .project__top-grid-block {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 850px) {
  .project__top-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 30px;
  }

  .project__top-grid-block {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    gap: 10px;
  }


  .project__top-grid-block-img {
    margin: 3px auto;
  }

  .project__top-grid-block1 {
    display: flex;
    text-align: center;
  }


  .project__top-grid-block7 {
    display: flex;
    grid-template-columns: 80px auto;
    text-align: center;
    justify-content: center;
  }

}

/* ТОР С ПЛИТКОЙ */





















/* ЗАГ */
.project__bottom-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 28px 0 0px 0 !important;
  font-size: 16px;
  line-height: 22px;
}

.project__bottom {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.project__bubble {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
}

.project__bubble-header {
  font-size: 32px;
  line-height: 40px;
  padding: 10px 33px;
  background-color: #ffffff;
  border-radius: 71px;
  border: 1.5px solid #007eab;
  white-space: nowrap;
}

.project__bubble-line {
  margin: auto 0px auto 60px;
  border-bottom: 1.5px solid #C1C1C1;
  border-top: 1.5px solid #C1C1C1;
  height: 7px;
  flex-grow: 1;
}

@media screen and (max-width: 1300px) {
  .project__bubble {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .project__bottom {
    padding: 0 30px 0px 30px;
    width: auto;
    max-width: none;
    overflow: hidden;
  }

  .project__bubble {
    padding: 0 0px;
  }
}

@media screen and (max-width: 770px) {
  .project__bubble {
    padding: 0 0px;
  }

  .project__bubble-header {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  .project__bubble-line {
    margin: auto 0px auto 20px;
  }
}

/* /ЗАГ */








/* ЭКСПЕРТЫ2*/
.article__container5 {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
  padding: 30px 0 0 0;
}

.article__header5 {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  width: 85%;
  padding: 0px 0 15px 0;
  margin: 0 !important;
}

.article__header5-span {
  color: #007eab;
}

.article__header5-center {
  text-align: center;
}

.article__main-container5 {
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
  z-index: 5;
  position: relative;
}

.article__cols-column5 {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 300px;
  width: calc((100% / 4 - 30px));
  text-align: center;
  margin: 10px 0;
}

.article__cols-container5 {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto 50px auto;
  max-width: 100%;
}

.article__cols-column5-img {
  text-align: left;
  margin: 0 auto;
}

.article__cols-column5-img-img {
  width: 250px;
  height: 250px;
  border: 2px solid #007eab;
  border-radius: 250px;
}

.article__cols-column5-title {
  padding: 20px 0px 10px 0px;
  margin-top: 0;
  text-align: left;
  border-radius: 20px 20px 0 0;
  font-weight: 700;
}

.article__cols-column5-text {
  line-height: 20px;
  color: #8c8c8c;
  text-align: left;
  padding: 0 0px 20px 0px;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .article__main-container5 {
    margin: 0px 50px;
  }
}

@media screen and (max-width: 1100px) {
  .article__main-container5 {
    margin: 0px 30px;
  }

  .article__cols-column5 {
    width: calc((100% / 3 - 30px));
    max-width: 360px;
  }
}

@media screen and (max-width: 850px) {
  .article__main-container5 {
    max-width: none;
    padding: 0 0px;
    width: auto;
  }

  .article__cols-column5 {
    max-width: 360px;
  }

  .article__header5 {
    padding: 0px 0 15px 0;
  }

  .article__cols-column5 {
    width: 100%;
    max-width: none;
    flex-basis: auto !important;
    padding: 0px;
  }

  .article__cols-column5-title {
    min-height: 10px;
    padding: 20px 30px 20px 30px;
    text-align: center;

  }

  .article__cols-column5-text {
    padding: 0 0px 20px 0px;
  }



  .article__cols-column5-img {
    margin: 30px auto 0px auto;
    text-align: center;
  }

  .article__cols-column5 {
    margin: 0px 0;
  }

  .article__header5 {
    padding: 0px 30px 30px 30px;
    width: 100%;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .article__cols-container5 {
    flex-direction: column;
    gap: 20px;
  }

  .article__cols-column5 {
    width: 100%;
  }
}



@media screen and (max-width: 500px) {
  .article__cols-column5-img-img {
    width: 150px;
    height: 150px;
  }

  .article__container5 {
    padding: 0px 0 0 0;
  }
}

/* /ЭКСПЕРТЫ2 */










/* АНОНС НА ПЛАШКЕ */
.article__container {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position: relative;
}

.article__anons-container {
  width: 100%;
  margin: 50px auto 50px auto;
  color: #ffffff;
  background: url(https://proctosphera.ru/wp-content/uploads/2025/05/back_small3.webp) top center / cover no-repeat;
  border-radius: 150px 0px 150px 0px;
  z-index: 10;
  position: relative;
  background-color: #007eab;
}

.article__anons {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}


.article__anons-container-overflow {
  background: linear-gradient(-45deg, rgb(51 122 183), rgb(123 144 165 / 45%), rgb(51 122 183), rgb(255 134 48 / 0%));
  background-size: 100% 100%;
  padding: 30px 45px;
  border-radius: 150px 0px 150px 0px;
}

.article__anons-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.article__anons-link:hover {
  color: #eff7ff;
}

.article__anons-text {
  font-size: 27px;
  line-height: 35px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .article__anons {
    max-width: none;
  }
}

@media screen and (max-width: 1100px) {


  .article__anons-text {
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    padding: 28px 0;
  }

  .article__anons-container-overflow {
    padding: 0 45px;
  }
}

@media screen and (max-width: 770px) {
  .article__anons-text {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .article__anons-text {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
  }

  .article__anons-container-overflow {
    padding: 0 30px;
  }

  .article__anons {
    padding: 15px !important;
  }
}

/* /АНОНС НА ПЛАШКЕ */















/* СТАТЬЯ 3 КОЛОНКИ С КАРТИНКАМИ */
.article__container4 {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position: relative;
  padding: 30px 0 100px 0;
}

.article__header4 {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  width: 85%;
  padding: 0px 0 15px 0;
  margin: 0 !important;
}

.article__header4-span {
  color: #007eab;
}

.article__header4-center {
  text-align: center;
}

.article__main-container4 {
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
  z-index: 5;
  position: relative;
}

.article__cols-column4 {
  box-sizing: border-box;
  flex-basis: calc(33% - 20px);
  text-align: center;
  min-height: 200px;
  margin: 30px 0;
  padding: 20px;
}

.article__cols-column4-mid {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.article__cols-container4 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid #007eab;
  align-items: stretch;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto 20px auto;
  max-width: 100%;
}

.article__cols-column4-img {
  text-align: center;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.article__cols-column4-img-img {
  width: 100px;
  height: 100px;
}

.article__cols-column4-title {
  padding: 0px 20px 20px 20px;
  margin-top: 0;
  text-align: center;
  border-radius: 20px 20px 0 0;
  font-weight: 700;
  min-height: 60px;
}

.article__cols-column4-text {
  line-height: 20px;
  color: #8c8c8c;
  text-align: left;
  padding: 0 0px 20px 15px;
  font-size: 16px;
}

.article__cols-list4 {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 10px 0;
  text-align: left;
}

.article__cols-list4 li {
  position: relative;
  padding: 0 20px 10px 35px;
}

.article__cols-list4 li::before {
  content: '•';
  color: #007eab;
  font-size: 26px;
  line-height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  text-align: center;
  margin: 0 15px 0 7px;
}



@media screen and (max-width: 1250px) {
  .article__main-container4 {
    margin: 0px auto;
    width: auto;
    max-width: none;
  }

  .article__cols-column4 {
    padding: 0px;

    flex-basis: calc(33% - 0px);
  }

  .article__cols-container4 {
    gap: 0px;
    margin: 10px auto 10px auto;
    font-size: 16px;
    line-height: 20px;
  }

  .article__cols-column4-text {
    line-height: 18px;
    font-size: 14px;
  }

  .article__container4 {
    padding: 30px 50px 30px 50px;
  }
}

@media screen and (max-width: 1100px) {

  .article__container4 {
    padding: 30px 30px 30px 30px;
  }
}

@media screen and (max-width: 850px) {
  .article__main-container4 {
    padding: 0 0px;
  }

  .article__container4 {
    padding: 30px 0 30px 0;
  }

  .article__header4 {
    padding: 0px 0 15px 0;
  }

  .article__header4-center {
    padding: 10px 30px 10px 30px;
  }

  .article__cols-column4 {
    width: 100%;
    max-width: none;
    flex-basis: auto !important;
    padding: 0px;
  }

  .article__cols-column4-title {
    min-height: 10px;

    padding: 0px 30px 20px 30px;
  }

  .article__cols-column4-text {
    padding: 0 30px 20px 30px;
  }

  .article__cols-list4 {
    margin: 0 0 10px 15px;
  }

  .article__cols-column4-mid {
    padding: 20px 0 !important;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
  }

  .article__cols-list4 li::before {
    margin: 0 30px 0 7px;
  }

  .article__cols-column4-img {
    margin: 30px auto 0px auto;
  }

  .article__cols-column4 {
    margin: 0px 0;
  }

  .article__header4 {
    padding: 0px 30px 30px 30px;
    width: 100%;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .article__cols-container4 {
    flex-direction: column;
    gap: 30px;
    border: 0px solid #007eab;
    background-color: #e7f4f8;
  }

  .article__cols-column4 {
    width: 100%;
  }
}

/* /СТАТЬЯ 3 КОЛОНКИ С КАРТИНКАМИ */













/* СТАТЬЯ - БЛОК С ЦЕНАМИ */
.article__container {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position: relative;
}

.article__main-container {
  width: 100%;
  margin: 45px auto 60px auto;
  max-width: 1200px;
  z-index: 5;
  position: relative;
}

.article__text {
  width: 85%;
  padding: 0 0 15px 0;
  font-size: 18px !important;
  line-height: 28px !important;
}

.article__flex {
  display: flex;
      gap: 30px;
}

.article__col-left {
  width: 50%;
  margin: 0px 0px 0px 0;
}

.article__col-right {
  padding: 0px 0 0px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__prices {
      padding: 40px 45px 30px 45px;
    border: 3px solid #007eab;
    flex-grow: 1;
    margin: -25px 0 30px 0px;
    border-radius: 12px;
}


.article__prices-header {
  font-size: 27px;
  line-height: 35px;
  margin: 15px 0px 15px 0;
}

.article__prices-price-num {
  font-size: 40px;
  line-height: 45px;
  color: #007eab;
}

.article__prices-price-text {
  padding: 0 0 0 10px;
}

.article__prices-price {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.article__prices-span {
  background-color: #fabb8f;
  font-weight: 700;
  padding: 5px 10px;
}

.article__prices-bottom {
  border-top: 1px solid #007eab;
  padding: 10px 0 0 0;
  margin: 20px 0 0 0;
}



.article__important {
  position: relative;
  background: url(https://proctosphera.ru/wp-content/uploads/2025/05/back_small3.webp);

  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #007eab;
  height: auto;
  border-radius: 20px;
  color: #ffffff;
  margin: 0px 0px 0px 0;
  font-size: 18px;
  line-height: 26px;
}

.article__important-overflow {
  background: linear-gradient(-45deg, rgb(51 122 183), rgb(123 144 165 / 45%), rgb(51 122 183), rgb(255 134 48 / 0%));
  background-size: 100% 100%;
  padding: 30px 45px;
  border-radius: 20px;
}

.article__important-header {
  font-size: 27px;
  line-height: 35px;
  margin: 15px 0px 15px 0;
}


.article__important-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 10px 0;
  text-align: left;
}

.article__important-list li {
  position: relative;
  padding: 0 20px 10px 30px;
}

.article__important-list li::before {
  content: '•';
  color: #ffffff;
  font-size: 26px;
  line-height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  text-align: center;
  margin: 0 15px 0 -7px;
}

@media screen and (max-width: 1300px) {
  .article__main-container {
    max-width: none;
    padding: 0 50px;
  }

  .article__text {
    line-height: 24px !important;
    width: 100%;
  }

  .article__important {
    zoom: 0.9;
  }
}

@media screen and (max-width: 1100px) {
  .article__main-container {
    padding: 0 30px 0 30px;
    width: auto;
    max-width: none;
  }

  .article__important {
    margin: 10px auto 0px auto;
    animation: none;
    background-size: auto 100%;
    will-change: unset;
  }

  .article__text {
    width: 100%;
  }


  .article__prices-price-num {
    font-size: 32px;
    line-height: 38px;
  }

  .article__container {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1000px) {


  .article__flex {
    flex-direction: column;
  }

  .article__col-left,
  .article__col-right {
    width: 100%;
  }


  .article__important {
    margin: 10px auto 0px auto;
  }

  .article__prices-price-text {

    font-size: 18px;
    line-height: 26px;
  }

}

@media screen and (max-width: 770px) {

  .article__important-header,
  .article__important-text {
    text-align: center;
  }

  .article__important-header {
    font-size: 34px !important;
    line-height: 40px !important;
  }

  .article__prices-header {
    text-align: center;
  }

  .article__prices-header {
    font-size: 34px !important;
    line-height: 40px !important;
  }

  .article__important {
    zoom: 1;
  }

  .article__important-overflow {
    width: auto;
    padding: 30px 30px;
  }

  .article__important {
    width: 100%;
  }

  .article__text {
    font-size: 18px;
    line-height: 24px;
  }

  .article__prices-bottom {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {

  .article__important-header,
  .article__prices-header {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .article__prices {
    padding: 20px 25px;
  }

  .article__prices-price-num {
    font-size: 22px;
    line-height: 28px;
  }

  .article__important-overflow {
    padding: 10px 15px;
  }

  .article__important-list {
    margin: 0 0 10px 5px;
    font-size: 16px;
    line-height: 22px;
  }
}

/* СТАТЬЯ - БЛОК С ЦЕНАМИ */










/* МНОГО ЛОГО */

.project__logos-container {
  overflow: hidden;
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.project__logos-item {
  text-align: center;
  transition: transform 0.3s ease-in-out;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__logos-item-big {
  grid-row-start: span 2;
  height: auto;
  min-height: 340px;
}

.project__logo {
  margin: 0 auto;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter 0.3s ease, opacity 0.3s ease;
  max-height: 170px;
  max-width: 250px;
}

.project__logo-big {
  max-height: 340px;
  max-width: 340px;
}

.project__logo:hover {
  filter: none;
  opacity: 1;
}


.article__container6 {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position: relative;
}

.article__anons-container6 {
  width: 100%;
  margin: 50px auto 50px auto;
  max-width: 1200px;
}

.article__container6-header {
  font-size: 27px;
  line-height: 35px;
  margin: 15px 0px 15px 0;
  font-weight: 700;
  color: #007eab;
}

@media screen and (max-width: 1300px) {
  .article__anons {
    max-width: none;
    padding: 50px 150px;
  }
}

@media screen and (max-width: 1100px) {
  .article__anons-container6 {
    margin: 50px 30px;
  }

  .article__anons {
    padding: 30px 150px;
  }

  .project__logo {
    max-width: 200px;
    max-height: 135px;
  }

  .project__logo-big {
    max-height: 300px;
    max-width: 300px;
  }


  .project__logos-item {
    height: 135px;
  }

  .project__logos-item-big {
    grid-row-start: span 1;
    height: 170px;
    min-height: auto;
  }

  .project__logo-big {
    max-height: 170px;
  }
}

@media screen and (max-width: 770px) {
  .article__anons {
    padding: 30px 50px;
  }

  .project__logos-container {
    grid-template-columns: repeat(2, 40%);
    
    gap: 10%;
  }
      .project__logo {
        max-width: none;
        max-height: none;
                width: 100%;
    }
        .project__logos-item {
        height: auto;
        width: auto;
    }
 }
/* /МНОГО ЛОГО */












/* ТАБЛИЦА */
.project__bottom-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 60px 0 37px 0;
  font-size: 16px;
  line-height: 22px;
}

.project__tables-container {
  max-width: 1200px;
  z-index: 5;
  position: relative;
}

.project__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 24px;
}

.project__table-cell-num {
  max-width: 168px;
  white-space: nowrap;
  text-align: center;
  padding: 0 25px 0 25px !important;
  width: 13%;
}

.project__table-cell-title {
  width: 60%;
  padding: 8px 0;
}

.project__table-cell-center {
  font-weight: 700;
  text-align: center;
}

.project__table-cell-lectors {
  height: calc(40% - 50px);
  padding: 0 25px 0 25px;
  font-weight: 700;
  color: #007eab;
  width: 25%;
}

.project__table-cell {
  position: relative;
}

.project__table-inner {
  display: block;
  height: calc(100% - 10px);
  padding: 0 25px 0 25px;
}

.project__table:nth-child(even) {
  background-color: #eaf9ff;
}

@media screen and (max-width: 1300px) {
  .project__tables-container {
    max-width: none;
  }
}

@media screen and (max-width: 1100px) {
  .project__tables-container {
    width: auto;
    max-width: none;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .project__table-row {
    margin: 10px;
  }

  .project__table-cell-num {
    width: auto;
    text-align: center;
    padding: 25px 0 !important;
    font-size: 25px;
    line-height: 30px;
    max-width: none;
  }

  .project__table-cell-center {
    padding: 80px 20px 10px 20px !important;
  }

  .project__table-cell-lectors {
    text-align: center;
    padding: 5px 15px 20px 15px;
    font-size: 18px;
    line-height: 22px;
            width: 95% !important;
  }

  .project__table-cell-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }

  .project__table-inner {
    border-left: 0;
    border-right: 0;
  }

  .project__table-cell {
    display: inline-block;
    width: 100%;
  }
}

/* /ТАБЛИЦА */














/* СИНИЕ ВЫНОСНЫЕ ФОНЫ  */
.project__back-left {
  background: -webkit-linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  background: -moz-linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  background: linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  position: absolute;
  left: 0;
  width: 35%;
  height: 1000px;
  border-radius: 0 170px 0 0;
  opacity: 27%;
  margin-top: 150px;
}

.project__back-left2 {
  width: 40%;
}

.project__back-right {
  background: -webkit-linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  background: -moz-linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  background: linear-gradient(to bottom, rgba(0, 126, 171, 0.25), rgba(51, 122, 183, 0));
  position: absolute;
  right: 0;
  width: 55%;
  height: 1000px;
  border-radius: 170px 0 0 0;
  opacity: 27%;
  margin-top: 100px;
}

.project__back-right2 {
  width: 62%;
}

.project__back-right3 {

  margin-top: -44px;
}



@media screen and (max-width: 770px) {

  .project__back-left,
  .project__back-left2,
  .project__back-right,
  .project__back-right2 {
    display: none;
  }

}

/* /СИНИЕ ВЫНОСНЫЕ ФОНЫ  */