/*
  font-size: 16px;
  line-height: 22px;

  font-size: 18px;
  line-height: 28px;

  font-size: 27px;
  line-height: 35px;

  font-size: 32px;
  line-height: 40px;

    font-size: 40px;
    line-height: 45px;

  font-size: 56px;
  line-height: 56px;
*/

/* ТОР */
.project__top-container {
  font-family: 'Myriad Pro Light', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 28px 0 37px 0;
  background: url(img/top.jpg) center / cover no-repeat;
  font-size: 16px;
  line-height: 22px;
}

.project__top {
  width: 100%;
  max-width: 1200px;
  padding: 0 50px 0 50px;
  margin: 0 auto;
  color: #fff;
}

.project__top-header {
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  width: 70%;
}

.project__top-header3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-top: -20px;
  width: 70%;
}

.project__top-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.project__top-text {
  width: 70%;
}
/* /ТОР */


/* ВИДЕО */
.video__container {
  font-family: 'Myriad Pro Light', sans-serif;
  width: 100%;
  max-width: 1200px;
  padding: 30px 50px 50px 50px;
  margin: 0 auto;
  display: flex;
  font-size: 18px;
  line-height: 28px;
}

.video__left {
  width: 100%;
}

.video__date {
  padding: 0px 0px 30px 0px;
}

.video__main {
  border-radius: 12px;
  width: 85%;
  cursor: pointer;
}

.video__main-header {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  width: 85%;
}

.video__main-members {
  margin: -10px 0 60px 0;
}

.video__main-link {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.video__main-link:visited {
  color: #888888;
}

.video__timecodes-block {
  border-left: 2px solid #337AB7;
  margin: 36px 0px 0px 0px;
  position: relative;
}

.video__timecodes-item {
  padding: 0px 0 18px 42px;
  display: flex;
  width: 85%;
}

.video__timecodes-btn {
  height: 36px;
  border: 1.5px solid #337AB7;
  border-radius: 30px;
  cursor: pointer;
  margin: 0px 33px 0px 0px;
  background-color: #fff;
  padding: 0 18px;
  font-size: 16px;
}

.video__timecodes-txt {
  padding: 3px 0 0 0;
}

.video__show {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(255 255 255));
  border: 0;
  cursor: pointer;
}

.video__show-img {
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 44%;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.visible {
  transition: max-height 0.4s ease-in;
}

.video__right {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  font-size: 27px;
  line-height: 35px;
}

.video__right-header {
  margin-bottom: 25px;
}

.video__right-block {
  border-left: 2px solid #337AB7;
  padding: 0 50px 20px 50px;
  font-size: 16px;
  line-height: 22px;
}

.video__right-container {
  position: relative;
}

.video__right-container::before {
  border-radius: 12px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video__right-link {
  text-decoration: none;
}

.video__right-link:visited {
  color: #888888;
}

.video__right-playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
}

.video__right-player {
  border-radius: 12px;
  max-width: 400px;
  min-height: 112px;
  width: 100%;
}

.video__right-text {
  padding: 20px 0 50px 0;

}

/* /ВИДЕО */

/* СТАТЬЯ */
.article__container {
  font-family: 'Myriad Pro Light', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #000000;  
}
.article__anons-container {
  width: 100%;
  margin: 50px auto 50px auto;
  color: #ffffff;  
  background: url(img/back_blue.png) top center / cover no-repeat;
  border-radius: 150px 0px 150px 0px;
}
.article__anons {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}
.article__anons-text {
  width: 85%;
}

.article__main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.article__header {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  width: 85%;
  padding: 30px 0 10px 0;
}

.article__header3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  width: 85%;
  padding: 30px 0 10px 0;
}
.article__text {
  width: 85%;
}

.article__pic {
  width: 85%;
  position: relative;
}

.article__pic-back {
  width: 100%;
  margin: 50px auto 200px 50px;
  background: url(img/back_grey.png) top center / cover no-repeat;
  border-radius: 70px;
  height: 680px;
}
.article__pic-main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 95%;
  border: 5px solid #ffffff;
}
.article__pic-img {
  padding: 20px 0 0 0;
}


.article__pic-back2 {
  width: 100%;
  margin: 50px 50px 200px auto;
  background: url(img/back_grey.png) top center / cover no-repeat;
  border-radius: 70px;
  height: 680px;
}
.article__pic-main2 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 95%;
  border: 5px solid #ffffff;
}
.article__pic-img2 {
  padding: 20px 0 0 20px;
}








/* /СТАТЬЯ */



/* ГАЛЕРЕЯ1 */
.gallery .control-operator:target~.controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:first-of-type,
.items-2 .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.items-2 .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.items-3 .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.items-3 .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.items-3 .control-operator:nth-of-type(3):target~.controls .control-button:nth-of-type(3),
.items-4 .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.items-4 .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.items-4 .control-operator:nth-of-type(3):target~.controls .control-button:nth-of-type(3),
.items-4 .control-operator:nth-of-type(4):target~.controls .control-button:nth-of-type(4),
.items-5 .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.items-5 .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.items-5 .control-operator:nth-of-type(3):target~.controls .control-button:nth-of-type(3),
.items-5 .control-operator:nth-of-type(4):target~.controls .control-button:nth-of-type(4),
.items-5 .control-operator:nth-of-type(5):target~.controls .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery .item:first-of-type {
  position: static;
  opacity: 1;
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target~.item {
  pointer-events: none;
  opacity: 0;
  animation: none;
}

.gallery .control-operator:target~.controls .control-button {
  animation: none;
}

@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  14.3%,
  50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  64.3%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%,
  50% {
    opacity: 1;
  }

  64.3%,
  100% {
    opacity: 0;
  }
}

.items-2.autoplay .control-button {
  animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
  animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-operator:nth-of-type(1):target~.item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-2 .control-operator:nth-of-type(2):target~.item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s;
}

@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  9.5%,
  33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  42.9%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%,
  33.3% {
    opacity: 1;
  }

  42.9%,
  100% {
    opacity: 0;
  }
}

.items-3.autoplay .control-button {
  animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
  animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-operator:nth-of-type(1):target~.item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-3 .control-operator:nth-of-type(2):target~.item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s;
}

.items-3 .control-operator:nth-of-type(3):target~.item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 12s;
}

@keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  7.1%,
  25% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  32.1%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }

  7.1%,
  25% {
    opacity: 1;
  }

  32.1%,
  100% {
    opacity: 0;
  }
}

.items-4.autoplay .control-button {
  animation: controlAnimation-4 28s infinite;
}

.items-4.autoplay .item {
  animation: galleryAnimation-4 28s infinite;
}

.items-4 .control-operator:nth-of-type(1):target~.item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-4 .control-operator:nth-of-type(2):target~.item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  animation-delay: 5s;
}

.items-4 .control-operator:nth-of-type(3):target~.item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  animation-delay: 12s;
}

.items-4 .control-operator:nth-of-type(4):target~.item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  animation-delay: 19s;
}

@keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  5.7%,
  20% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  25.7%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }

  5.7%,
  20% {
    opacity: 1;
  }

  25.7%,
  100% {
    opacity: 0;
  }
}

.items-5.autoplay .control-button {
  animation: controlAnimation-5 35s infinite;
}

.items-5.autoplay .item {
  animation: galleryAnimation-5 35s infinite;
}

.items-5 .control-operator:nth-of-type(1):target~.item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-5 .control-operator:nth-of-type(2):target~.item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  animation-delay: 5s;
}

.items-5 .control-operator:nth-of-type(3):target~.item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  animation-delay: 12s;
}

.items-5 .control-operator:nth-of-type(4):target~.item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  animation-delay: 19s;
}

.items-5 .control-operator:nth-of-type(5):target~.item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  animation-delay: 26s;
}

.gallery .control-button {
  color: #000;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
}

.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 72px;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

figure {
  margin: 1em 0;
}

.flexible {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.gallery {
  counter-reset: numbers;
}

.item {
  counter-increment: numbers;
  position: relative;
}

.item:before {
  content: counter(numbers);
  background-color: #fff;
  font-size: 24px;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* /ГАЛЕРЕЯ1 */